<!DOCTYPE html>
<html>
<head>
  <title>CocoaPods State of the Union</title>
  <link href="https://guides.cocoapods.org/stylesheets/app.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="https://trunk.cocoapods.org/claims/claims.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="http://cocoapods.org/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="http://cocoapods.org/favicons/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="http://cocoapods.org/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
  <link href="http://cocoapods.org/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
  <link href="http://cocoapods.org/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="http://cocoapods.org/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
  <link href="http://cocoapods.org/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <link href="http://cocoapods.org/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
  <link href="http://cocoapods.org/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
  <link href="http://cocoapods.org/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
  <meta charset="utf-8">
  <meta content="documentation cocoapods objective-c package manager" name="keywords">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">

  <style>
    .headline {
      height: 120px;
    }
    h2 {
      color: #ff0000;
    }

    .button {
      color: white;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      padding: 8px;
      background: rgb(28, 184, 65);
    }

    .button:hover {
      color: white;
      background: rgb(28, 144, 65);
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-static-top">
    <section class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span><span class=
        "glyphicon-plus"></span></button><a class="navbar-brand" href="http://cocoapods.org"></a>
      </div>


      <div class="collapse navbar-collapse navbar-header-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="http://cocoapods.org/about">About</a>
          </li>


          <li>
            <a href="http://guides.cocoapods.org">Guides</a>
          </li>


          <li>
            <a href="http://blog.cocoapods.org">Blog</a>
          </li>
        </ul>
      </div>
    </section>
  </nav>


  <div class="headline">
    <section class="container">
      <div class="row">
        <header class="col-md-12 headline index">
          <h2>State of the Union 2015</h2>
        </header>
      </div>
    </section>
  </div>


  <div id="content-wrapper">
    <section class="container">
      <div class="row">
        <article class="col-md-12">
          {% block content %}{% endblock %}
        </article>
      </div>
    </section>
  </div>


  <footer class="page-footer">
    <section class="container">
      <div class="row">
        <article class="col-md-8 col-lg-8 col-sm-12 col-md-offset-2 col-lg-offset-2 col-xs-12">
          <h4>CocoaPods is a project from</h4>

            <p class="contributors"><a href="http://kylefuller.co.uk">Kyle Fuller</a>, <a href="http://orta.github.io">Orta Therox</a>, <a href="http://segiddins.me">Samuel Giddins</a>, and <a href="https://cocoapods.org/about#team">The CocoaPods Dev Team</a> with contributions from <a href="https://github.com/CocoaPods/Specs/graphs/contributors">many, many others</a>.</p>

          <h4>Lovingly sponsored by</h4>


          <p class="sponsors"><a href="http://www.twilio.com">Twilio</a></p>
        </article>


        <article class="col-md-8 col-md-offset-2 minor">
        </article>
      </div>
    </section>
  </footer>


  <footer class="footer-links">
    <section class="container">
      <div class="row">
        <article class="col-md-8 col-lg-8 col-sm-12 col-md-offset-2 col-lg-offset-2 col-xs-12">
          <a class="cocoapods-small-logo" href="http://cocoapods.org"></a>

          <ul>
            <li class="col-md-3 col-sm-3 col-xs-6">
              <a href="http://guides.cocoapods.org/using/troubleshooting.html">Support</a>
            </li>


            <li class="col-md-3 col-sm-3 col-xs-6">
              <a href="https://github.com/CocoaPods/CocoaPods">Github Repo</a>
            </li>


            <li class="col-md-3 col-sm-3 col-xs-6">
              <a href="https://github.com/CocoaPods/Specs">Podspecs Repo</a>
            </li>


            <li class="col-md-3 col-sm-3 col-xs-6">
              <a href="https://twitter.com/CocoaPods">@CocoaPods</a>
            </li>


            <li class="col-md-3 col-sm-3 col-xs-6">
              <a href="http://groups.google.com/group/cocoapods">Mailing List</a>
            </li>


            <li class="col-md-3 col-sm-3 col-xs-6">
              <a href="http://cocoapods.org/about"><span class="visible-lg-span">CocoaPods</span> Dev Team</a>
            </li>


            <li class="col-md-3 col-sm-3 col-xs-6">
              <a href="http://guides.cocoapods.org/syntax/podfile.html">Podfile Doc<span class="hidden-lg-span">s</span><span class="visible-lg-span">umentation</span></a>
            </li>


            <li class="col-md-3 col-sm-3 col-xs-6">
              <a href="https://twitter.com/CocoaPodsFeed">@CocoaPodsFeed</a>
            </li>
          </ul>
        </article>
      </div>
    </section>
  </footer>
</body>
</html>
